<%= form_with(model: desechado) do |form| %>
  <% if desechado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(desechado.errors.count, "error") %> prohibited this desechado from being saved:</h2>

      <ul>
        <% desechado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :origen, style: "display: block" %>
    <%= form.number_field :origen %>
  </div>

  <div>
    <%= form.label :in_1, style: "display: block" %>
    <%= form.number_field :in_1 %>
  </div>

  <div>
    <%= form.label :in_2, style: "display: block" %>
    <%= form.text_field :in_2 %>
  </div>

  <div>
    <%= form.label :in_3, style: "display: block" %>
    <%= form.number_field :in_3 %>
  </div>

  <div>
    <%= form.label :error, style: "display: block" %>
    <%= form.text_field :error %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
