<div id="<%= dom_id log %>">
  <p>
    <strong>Log 0:</strong>
    <%= log.log_0 %>
  </p>

  <p>
    <strong>Origen:</strong>
    <%= log.origen %>
  </p>

  <p>
    <strong>In 1:</strong>
    <%= log.in_1 %>
  </p>

  <p>
    <strong>In 2:</strong>
    <%= log.in_2 %>
  </p>

  <p>
    <strong>In 3:</strong>
    <%= log.in_3 %>
  </p>

  <p>
    <strong>Error:</strong>
    <%= log.error %>
  </p>

</div>
